
@{
    ViewBag.Title = "Mobile";
}

<div class="fh5co-intro text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="intro-lead">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-content">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-3 animate-box">
                        <h3>L.M.W</h3>
                        <p>Giải pháp mobile</p>
                        <ul class="fh5co-list-check">
                            <li>Nhanh chóng</li>
                            <li>Tiện lợi</li>
                            <li>Dễ dàng hơn</li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <p><a href="~/Content/Android/letmewash_v1.0.3_beta.apk" target="_blank" class="btn btn-success">Android (v1.0.3)</a></p>
                        <p><a href="#" target="_blank" class="btn btn-default">iOS (v1.0.0) comming soon...</a></p>
                        <p class="animate-box">Ứng dụng let me wash phiên bản mobile dành cho thiết bị chạy HĐH Android.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

