@{
    ViewBag.Title = "L.M.W Administration";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="row text-center">
        <div class="col-xs-12">
            <img src="~/Content/images/lmw_logo.jpg" height="72" style="margin-top:10%; margin-bottom: 16px;" />
        </div>
    </div>
    <div class="row text-center">
        <h1 class="text-bold text-danger">Công Ty CP Đầu Tư Thương Mại Dịch Vụ L.M.W</h1>
        <p> MST: 0314686911 </p>
        <p>Tầng Lửng tại tầng 1, tòa nhà An Phú Plaza, 117-119 Lý Chính Thắng, P.7, Q.3, TP.Hồ Chí Minh</p>
        <p>091 191 5577 - Điều hành </p>
        <p>(028) 62714982</p>
        <p><a href="mailto:ceo@letmewash.vn">ceo@letmewash.vn</a></p>
        <p><a href="http://vesinhoto.com">vesinhoto.com</a></p>
    </div>

</section>
<!-- /.content -->