
@{
    ViewBag.Title = "ChangePassSuccess";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="callout callout-success">
        <h4>Đổi mật khẩu thành công!</h4>
        <p>
            Bạn có thể thực hiện <a href="/Auth/SignIn">Đăng nhập lại</a> với mật khẩu mới hoặc trở về <a href="/Admin/Index">Trang chủ</a> để tiếp tục!
        </p>
    </div>
</section>
<!-- /.content -->

